@keyframes pulse {
	0% {
		border-color: #000;
	}
	50% {
		border-color: #f5a82c;
	}
	100% {
		border-color: #000;
	}
}

body {
	margin: 0;
	font-family: 'Ubuntu Mono', monospace;
	background-color: #1d2644;
}

a {
	transition: 0.3s;
}

#loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #008080;
	background: rgb(2,0,36);
	background: radial-gradient(circle, #008080 20%, #000 40%);
	z-index: 1000;
	position: fixed;
	div {
		border: 40px dashed #000;
		border-radius: 50%;
		height: calc(100% - 65px);
		animation: pulse 3s infinite;
		opacity: 0.5;
	}
}

.fly {
	text-shadow: -1px 0 3px #000, 0 1px 3px #000, 1px 0 3px #000, 0 -1px 3px #000;
	position: fixed;
	font-size: 1.5rem;
	color: #f5a82c;
	z-index: 10;
	padding: .1rem;
	a {
		color: #f5a82c;
		&:hover {
			color: #cd3313;
		}
	}
	&#logo {
		font-weight: bold;
		top: 1rem;
		left: 1rem;
	}
	&#blog {
		top: 1rem;
		right: 1rem;
	}
	&#twitter {
		bottom: 1rem;
		right: 1rem;
	}
	&#temp {
		bottom: 1rem;
		left: 1rem;
		font-size: 1.1rem;
	}
}

#logoGif {
	position: fixed;
	top: 3rem;
	left: 7rem;
	display: none;
	z-index: 10;
}

#blogGif {
	position: fixed;
	top: 3rem;
	right: 7rem;
	display: none;
	z-index: 10;
}

#tempGif {
	position: fixed;
	bottom: 2.5rem;
	left: 7rem;
	display: none;
	z-index: 10;
}

.pinContainer {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.panel {
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.5rem;
	text-align: center;
	border-top: 2px dashed #000;
	animation: pulse 6s infinite;
	h1 {
		font-size: 3.5rem;
		margin: 0 0 2rem;
	}
	p {
		margin: 1.5rem 0;
	}
	&.home {
		.ns {
			font-family: 'Schoolbell', cursive;
			img {
				border: 1px dotted #111;
				border-radius: 14px;
				padding: 2px;
				margin-bottom: -15px;
				filter: sepia(80%) hue-rotate(80deg)
			}
		}
		background: #1d2644;
		background: linear-gradient(0deg, #334378 0%, #1d2644 100%);
		text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
		color: #f5a82c;
		a {
			color: #f5a82c;
			&:hover {
				color: #cd3313;
			}
		}
	}
	&.games {
		background: #647936;
		background: linear-gradient(0deg, #8dab4c 0%, #647936 100%);
		color: #1d2644;
		text-shadow: -0.5px 0 #f5a82c, 0 0.5px #f5a82c, 0.5px 0 #f5a82c, 0 -0.5px #f5a82c;
		small {
			font-size: 1.3rem;
		}
		a {
			color: #1d2644;
			&:hover {
				color: #1d7744;
			}
		}
		.row {
			display: flex;
			.col {
				text-align: center;
				flex: 1;
				width: 20rem;
				h2 {
					font-size: 2rem;
					margin-bottom: 0;
				}
				.date {
					margin-top: .2em;
				}

			}
		}
		.more {
			margin: -1rem 0 3rem;
			font-size: 1rem;
			a {
				margin-right: 12px;
				font-weight: bold;
			}
		}
	}
	&.about {
		background-color: #870c1c;
		background: linear-gradient(0deg, #077111 0%, #870c1c 100%);
		text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
		color: #f5a82c;
		.sp {
			margin: -1.1rem 0 0;
		}
		a {
			margin: 0 0.3rem;
			color: #f5a82c;
			&:hover {
				color: #647936;
			}
			&.b {
				font-weight: bold;
			}
		}
	}
}
